<extend name="Common/back" />

<block name="title">管理员列表</block>

<block name="content">

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{:U('add')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                    </a>
                    <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确认？') ? $('#form-list').submit() : false;">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <h1>管理员管理</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Manage/dashboard')}">首页</a>
                    </li>
                    <li>
                        <a href="">管理员管理</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        管理员列表
                    </h3>
                </div>
                <div class="panel-body">

                    <form action="{:U('multi')}" method="post" enctype="multipart/form-data" id="form-list">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">

                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox" id="input-check-all"/>
                                    </td>

                                                                        <td class="text-left">
                                        <a href="{:UOrder('list', [], 'id', $order)}" class="{:ClassOrder('id', $order)}">ID</a>
                                    </td>                                    <td class="text-left">
                                        <a href="{:UOrder('list', [], 'username', $order)}" class="{:ClassOrder('username', $order)}">管理员</a>
                                    </td>                                    <td class="text-left">
                                        <a href="{:UOrder('list', [], 'created_at', $order)}" class="{:ClassOrder('created_at', $order)}">创建时间</a>
                                    </td>

                                    <td class="text-right">管理</td>
                                </tr>
                                </thead>

                                <tbody>
                                <volist name="rows" id="row">
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected[]" value="{$row['id']}" />
                                        </td>

                                                                                <td class="text-left">{$row['id']}</td>
                                        <td class="text-left">{$row['username']}</td>
                                        <td class="text-left">{$row['created_at']}</td>


                                        <td class="text-right">
                                            <a href="{:U('edit', ['id'=>$row['id']])}" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">{$page_html}</div>
            </div>
        </div>
    </div>
</block>

<block name="appendJs">

    <script>
        $(function(){
            $('#input-check-all').click(function(evt) {
                // 找到需要操作其他的checkbox
                // 设置其checked属性, 与input-check-all一致即可.
                $(':checkbox[name="selected[]"]').prop('checked', $(this).prop('checked'));
            });
        });

    </script>
</block>